@media (max-width: 768px) {
  .toolBox-cont {
    height: 100vh;
    width: 7rem;
    background-color: #2e4374;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    position: fixed;
    top: 0;
  }

  .task-btn {
    height: 3rem;
    width: 6rem;
    background-color: #7c81ad;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .task-btn > div > i {
    font-size: 1rem;
    /* padding: 0.41rem; */
  }

  .task-btn > div > span {
    font-size: 0.6rem;
    font-weight: 400;
    display: none;
  }

  .task-btn > * {
    width: 50%;
    text-align: center;
    color: white;
    /* padding-top: 2px; */
  }

  .task-btn > *:hover {
    background-color: #4b527e;
    color: #e5c3a6;
    cursor: pointer;
    text-shadow: 1px 1px 1px black;
  }

  .toolBox-btn-cont {
    height: 20rem;
    width: 6rem;
    background-color: #7c81ad;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .color {
    height: 2rem;
    width: 5rem;
    text-align: center;
    padding-top: 0.4rem;
    font-size: 0.8rem;
  }

  .color:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
    text-shadow: 1px 1px 1px black;
  }

  .Lightpink {
    background-color: lightpink;
  }

  .Lightgreen {
    background-color: lightgreen;
  }

  .Lightblue {
    background-color: lightblue;
  }

  .Blue {
    background-color: #6499e9;
  }

  .text-cont > * {
    font-size: 1.2rem;
    background-color: #7c81ad;
    color: white;
  }

  .modal-color {
    width: 5rem;
    height: 2rem;
    text-align: center;
    padding-top: 0.4rem;
    font-size: 0.8rem;
  }

  .modal-submit {
    width: 6.5rem;
    height: 2rem;
    text-align: center;
    padding-top: 0.2rem;
  }

  .ticket-cont {
    /* position: absolute; */
    height: 14rem;
    width: 14rem;
    background-color: #f0f0f0;
    opacity: 70%;
  }
}

@media (max-width: 425px) {
  .task-heading-cont {
    height: 8vh;
    width: 55%;
    background-color: #7c81ad;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
    color: #e5c3a6;
    text-shadow: 1px 1px 1px black;
    position: fixed;
    top: 0;
    left: 36%;
    z-index: 1;
  }

  .modal-cont {
    width: 65vw;
    height: 54vh;
    background-color: #4b527e;
    position: absolute;
    top: 30%;
    left: 31%;
    display: none;
    z-index: 1;
    opacity: 95%;
    position: fixed;
    top: 30%;
  }

  .text-cont > * {
    font-size: 1rem;
    background-color: #7c81ad;
    color: white;
  }

  .Lightpink {
    background-color: lightpink;
  }

  .Lightgreen {
    background-color: lightgreen;
  }

  .Lightblue {
    background-color: lightblue;
  }

  .Blue {
    background-color: #6499e9;
  }
}
